.aboutus {
  @media screen and (min-width: $screen-md) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: $screen-lg) {
    margin-bottom: 51px;
  }
}

.aboutus__heading-line {
  display: flex;
  margin: 24px 0;
  align-items: center;
  gap: 12px;

  @media screen and (min-width: $screen-md) {
    margin-bottom: 32px;
    gap: 20px;
  }

  @media screen and (min-width: $screen-lg) {
    display: none;
  }
}

.aboutus__highlight {
  width: 4px;
  height: 40px;
  background-color: $color-highlight;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.aboutus__heading {
  margin: 0;
  font-weight: 700;
  font-size: $font-size-xl;

  @media screen and (min-width: $screen-md) {
    margin-bottom: 0;
  }
}

.aboutus__navigation {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 16px;
  overflow: scroll;
  white-space: nowrap;

  @media screen and (min-width: $screen-md) {
    margin-left: 24px;
  }

  @media screen and (min-width: $screen-lg) {
    flex-wrap: wrap;
    margin-left: 34px;
  }
}

.aboutus__navigation::-webkit-scrollbar {
  display: none;
}

.aboutus__button {
  font-size: $font-size-md;
  padding: 8px 16px;
  border: none;
  background: none;
  color: $color-text-secondary;

  @media screen and (min-width: $screen-lg) {
    padding-left: 22px;
    padding-right: 22px;
  }
}

.aboutus__button--selection--selected {
  border: 2px solid $color-border--selected;
  background-color: $color-base-secondary;
  border-radius: 6px;
}

.aboutus__section-aboutus {
  margin-top: 24px;

  @media screen and (min-width: $screen-md) {
    display: flex;
    margin-right: 24px;
    margin-left: 24px;
    gap: 48px;
    flex-basis: 0;
  }

  @media screen and (min-width: $screen-lg) {
    margin-right: 0;
    margin-top: 16px;
    margin-left: 32px;
    display: flex;
  }
}

.aboutus__text-aboutus {
  font-size: $font-size-sm;
  font-weight: 400;
  margin: 0 16px;

  @media screen and (min-width: $screen-md) {
    margin-left: 0;
    margin-right: 0;
  }
}

.aboutus__text-aboutus-2d {
  display: none;
  margin-top: 24px;

  @media screen and (min-width: $screen-md) {
    display: block;
  }
}

.aboutus__readmore {
  display: flex;
  font-weight: 500;
  font-size: $font-size-md;
  margin-left: 16px;
  gap: 8px;
  align-items: center;

  @media screen and (min-width: $screen-md) {
    margin-top: 10px;
    margin-left: 0;
  }
}

.aboutus__button-readmore {
  background: none;
  background-image: url(../img/icon-expand.png);
  width: 24px;
  height: 24px;
  border: none;
  background-position: center;
  background-size: contain;
}

.aboutus__image-aboutus {
  width: 100%;
  height: 200px;
  background-image: url(../img/MG_3223.jpg);
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (min-width: $screen-md) {
    height: 260px;
  }

  @media screen and (min-width: $screen-lg) {
    height: 380px;
  }
}

.aboutus__paragraphs-aboutus-wrapper {
  max-height: 90px;
  overflow: hidden;

  @media screen and (min-width: $screen-md) {
    max-height: 120px;
  }

  @media screen and (min-width: $screen-lg) {
    max-height: 160px;
  }
}

.aboutus__aboutus-wrapper {
  @media screen and (min-width: $screen-md) {
    width: 50%;
  }

  @media screen and (min-width: $screen-lg) {
    margin-top: 9px;
    width: 50%;
  }
}

.aboutus__image-aboutus-wrapper {
  @media screen and (min-width: $screen-md) {
    width: 50%;
  }

  @media screen and (min-width: $screen-lg) {
    width: 50%;
  }
}
