@import 'brands-list';
@import 'fade-element';
@import 'show-more-element';
@import 'swiper-pagination';

.brands-slider__heading {
  min-width: 100%;
  font-size: $font-size-md;
  font-weight: 400;
  color: $color-text-secondary;
  background-image: linear-gradient(
    to right,
    $color-base,
    $color-base-secondary
  );
  margin: 0;
  padding: 16px;
  height: 80px;
  box-sizing: border-box;

  @media screen and (min-width: $screen-md) {
    height: 56px;
    padding-left: 24px;
  }

  @media screen and (min-width: $screen-lg) {
    height: 56px;
    padding-left: 32px;
  }
}

.brands-slider__container {
  position: relative;
  overflow: hidden;
  min-height: 140px;
}

.brands-slider__wrapper {
  position: relative;
  margin-bottom: 24px;

  @media screen and (min-width: $screen-md) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: $screen-lg) {
    margin-bottom: 50px;
  }
}
