@import 'brands-list';
@import 'fade-element';
@import 'show-more-element';
@import 'swiper-pagination';

.brands-slider__heading {
  font-size: $font-size-md;
  font-weight: 400;
  color: #7e7e82;
  background-image: linear-gradient(to right, #f8f8f8, #ffffff);
  margin: 0;
  padding: 16px;
}

.brands-slider__container {
  position: relative;
  overflow: hidden;
  min-height: 150px;
}

.brands-slider__wrapper {
  position: relative;
}
