.brands-list {
  list-style: none;
  padding: 0;
  margin: 16px;

  @media screen and (min-width: $screen-md) {
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 24px;
    margin: 24px;
  }

  @media screen and (min-width: 1100px) {
    row-gap: 16px;
    column-gap: 32px;
    margin: 24px 32px;
  }
}

.brands-list__list-item {
  display: flex !important;
  height: 72px !important;
  background-color: $color-base-secondary;
  border-radius: 6px;
  border: 1px solid $color-border;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-wrap: nowrap;

  @media screen and (min-width: $screen-md) {
    max-width: 224px;
    margin-right: 0 !important;
  }

  @media screen and (min-width: 1100px) {
    max-width: 240px;
  }
}

.brands-list__logo {
  width: 128px;
  height: 44px;
  background: none;
}

.brands-list__go-button {
  border: none;
  background: none;
  background-image: url('../img/go.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.brands-list__acer-logo {
  width: 94px;
  height: 24px;
  background-image: url(../img/acer.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.brands-list__hp-logo {
  max-width: 52px;
  height: 52px;
  background-image: url(../img/hp.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.brands-list__lenovo-logo {
  max-width: 108px;
  background-image: url(../img/lenovo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.brands-list__samsung-logo {
  max-width: 116px;
  background-image: url(../img/samsung.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.brands-list__apple-logo {
  background-image: url(../img/apple.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.brands-list__viewsonic-logo {
  background-image: url(../img/viewsonic.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.brands-list__bosh-logo {
  background-image: url(../img/bosh.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.brands-list__sony-logo {
  background-image: url(../img/sony.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.brands-list__list-item--hidden768 {
  @media screen and (min-width: $screen-md) {
    display: none;
  }

  @media screen and (min-width: 1100px) {
    display: flex;
  }
}

.brands-list__list-item--hidden1100 {
  @media screen and (min-width: 1100px) {
    display: none;
  }
}
