.header {
  display: flex;
  padding: 18.59px 16px;
  background-color: $color-base-secondary;

  @media screen and (min-width: $screen-md) {
    padding: 24px;
  }

  @media screen and (min-width: $screen-lg) {
    background-color: $color-base;
    padding: 0;
    margin-top: 42px;
    margin-right: 30px;
  }
}

.header__left {
  display: flex;
  flex-grow: 1;
  align-self: center;
  gap: 16px;

  @media screen and (min-width: $screen-md) {
    gap: 20px;
  }

  @media screen and (min-width: $screen-lg) {
    display: none;
  }
}

.header__right {
  display: flex;
  align-self: center;
  gap: 16px;

  @media screen and (min-width: $screen-lg) {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}

.header__button-burger {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  background-image: url(../img/burger.svg);
  align-self: center;
}

.header__logo {
  width: 97px;
  height: 51px;
  background-image: url(../img/Group.png);
  background-size: contain;
}

.header__divider-right {
  display: inline-block;
  background-image: url(../img/divider.svg);
  width: 2px;
  height: 32px;
  margin-right: 4px;
  align-self: center;

  @media screen and (min-width: $screen-lg) {
    display: none;
  }
}

.header__divider-left {
  display: none;
  background-image: url(../img/divider.svg);
  width: 2px;
  height: 32px;
  align-self: center;

  @media screen and (min-width: $screen-md) {
    display: block;
  }
}

.header__button-repair {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  background-image: url(../img/repair.svg);
}

.header__button-checkstatus {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  background-image: url(../img/checkstatus.svg);
}

.header__button-call {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  background-image: url(../img/call.svg);
}

.header__button-chat {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  background-image: url(../img/chat.svg);
}

.header__button-profile {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  background-image: url(../img/profile.svg);
}

.header__center {
  display: none;
  margin-right: 20px;
  align-self: center;

  @media screen and (min-width: $screen-md) {
    display: flex;
    gap: 16px;
  }

  @media screen and (min-width: $screen-lg) {
    display: none;
  }
}

.header__heading-line {
  display: none;

  @media screen and (min-width: $screen-lg) {
    display: flex;
    flex-grow: 1;
    gap: 30px;
    margin-bottom: 8px;
  }
}

.header__repair-text {
  display: none;

  @media screen and (min-width: $screen-lg) {
    display: inline-block;
    font-weight: 500;
    margin-right: -24px;
  }
}

.header__checkstatus-text {
  display: none;

  @media screen and (min-width: $screen-lg) {
    display: inline-block;
    font-weight: 500;
    margin-right: -24px;
  }
}

.header__highlight {
  @media screen and (min-width: $screen-lg) {
    width: 4px;
    height: 40px;
    background-color: $color-highlight;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
  }
}

.header__heading {
  @media screen and (min-width: $screen-lg) {
    font-weight: 700;
    font-size: $font-size-xl;
    margin: 0;
    align-self: center;
  }
}

.header__button {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
    transition-duration: 0.4s
  }
}

