.modal-feedback {
  position: absolute;
  right: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: $color-base-secondary;
  z-index: 13;

  @media screen and (min-width: 450px) {
    width: 320px;
  }

  @media screen and (min-width: $screen-lg) {
    width: 440px;
  }
}

.modal-feedback__header {
  padding-top: 24px;
  padding-left: 16px;
  margin-bottom: 32px;

  @media screen and (min-width: $screen-lg) {
    padding-top: 0;
  }
}

.modal-feedback__header-button {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  background-image: url(../img/close.svg);

  @media screen and (min-width: $screen-lg) {
    position: absolute;
    left: -70px;
    top: 32px;
  }
}

.modal-feedback__heading-line {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.modal-feedback__heading-highltght {
  width: 4px;
  height: 40px;
  background-color: $color-highlight;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.modal-feedback__heading-title {
  font-weight: 700;
  font-size: $font-size-xl;
  margin: 0;
  align-self: center;
}

.modal-feedback__inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
  margin-bottom: 16px;

  @media screen and (min-width: $screen-lg) {
    padding: 0 32px;
  }
}

.modal-feedback__field {
  height: 48px;
  padding: 12px 16px;
  box-sizing: border-box;
  border: 1px solid $color-border;
  border-radius: 8px;
  color: $color-slider-bullet--active;
}

.modal-feedback__field:last-child {
  height: 118px;
}

.modal-feedback__footer-info {
  padding: 0 16px;
  font-size: $font-size-sm;
  font-weight: 500;
  color: $color-text-secondary;
  margin-bottom: 19px;

  @media screen and (min-width: $screen-lg) {
    padding: 0 32px;
    margin-bottom: 23px;
  }
}

.modal-feedback__link {
  text-decoration: none;
  color: $color-brand;
}

.modal-feedback__submit-button {
  position: absolute;
  display: flex;
  right: 16px;
  background-color: $color-brand;
  border: none;
  border-radius: 16px;
  width: 136px;
  height: 32px;
  gap: 3px;
  align-items: center;

  @media screen and (min-width: $screen-lg) {
    right: 32px;
  }
}

.modal-feedback__submit-button-text {
  color: $color-base-secondary;
  font-size: $font-size-xs;
  font-weight: 600;
  margin-left: 12px;
  align-self: center;
}

.modal-feedback__submit-button-image {
  width: 24px;
  height: 24px;
  background-image: url('../img/goside.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
