@import 'price-list';
@import 'fade-element';
@import 'swiper-pagination';

.price-section__heading {
  min-width: 100vw;
  font-size: $font-size-md;
  font-weight: 400;
  color: $color-text-secondary;
  background-image: linear-gradient(
    to right,
    $color-base,
    $color-base-secondary
  );
  margin: 0;
  padding: 16px;
  height: 56px;
  box-sizing: border-box;

  @media screen and (min-width: $screen-md) {
    margin-bottom: 31px;
    padding-left: 24px;
  }

  @media screen and (min-width: $screen-lg) {
    padding-left: 32px;
  }
}

.price-section__container {
  position: relative;
  margin-bottom: 16px;
  overflow: hidden;
  @media screen and (min-width: $screen-md) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: $screen-lg) {
    margin-bottom: 32px;
  }
}

.price-section__about-price {
  font-size: $font-size-sm;
  margin: 0 16px 16px 16px;
  color: $color-text;

  @media screen and (min-width: $screen-md) {
    width: 421px;
    height: 60px;
    margin: 0 0 16px 24px;
  }

  @media screen and (min-width: $screen-lg) {
    margin-left: 32px;
  }
}

.price-section__offer-link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: $font-size-md;
  margin: 0 16px;
  color: $color-text;
  text-decoration: none;
  line-height: normal;

  @media screen and (min-width: $screen-md) {
    margin: 0 0 0 24px;
  }

  @media screen and (min-width: $screen-lg) {
    margin-left: 32px;
  }

  &:hover {
    opacity: 0.8;
    transition-duration: 0.4s;
  }

  &::after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 10px;
    background-image: url('../img/more.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 9px;
  }
}

.price-section__title-768 {
  display: none;

  @media screen and (min-width: $screen-md) {
    display: flex;
    color: $color-text-secondary;
    font-size: $font-size-sm;
    padding-left: 40px;
    padding-right: 225px;
    gap: 61px;
    width: 100%;
    box-sizing: border-box;
  }

  @media screen and (min-width: $screen-lg) {
    gap: 160px;
    padding-right: 335px;
  }
}

.price-section__title-768-content-service {
  @media screen and (min-width: $screen-md) {
    flex-grow: 1;
  }
}
