.price-list {
  padding-left: 8px;
  box-sizing: border-box;

  @media screen and (min-width: $screen-md) {
    display: flex;
    flex-direction: column;
    padding: 16px 24px 0 24px;
    margin: 0;
  }

  @media screen and (min-width: $screen-lg) {
    padding-right: 32px;
    padding-left: 32px;
  }
}

.price-list__list-item {
  position: relative;
  width: 260px !important;
  height: 200px;
  background-color: $color-base-secondary;
  border-radius: 6px;
  padding: 16px;
  box-sizing: border-box;

  @media screen and (min-width: $screen-md) {
    display: flex;
    min-width: 100%;
    height: 65px;
    box-sizing: border-box;
    border-radius: 0;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-right: 0 !important;
  }

  @media screen and (min-width: $screen-lg) {
    gap: 120px;
  }
}

.price-list__list-item::after {
  @media screen and (min-width: $screen-md) {
    content: '';
    position: absolute;
    top: 64px;
    width: 95%;
    height: 1px;
    background-color: $color-border;
  }
}

.price-list__list-item:last-child::after {
  content: '';
  display: none;
}

.price-list__list-item:first-child {
  @media screen and (min-width: $screen-md) {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}

.price-list__list-item:last-child {
  @media screen and (min-width: $screen-md) {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.price-list__title {
  color: $color-text-secondary;
  font-size: $font-size-sm;
  margin-bottom: 4px;

  @media screen and (min-width: $screen-md) {
    display: none;
  }
}

.price-list__content {
  color: $color-text;
  font-size: $font-size-sm;
  margin-bottom: 16px;

  @media screen and (min-width: $screen-md) {
    margin-bottom: 0;
  }
}

.price-list__content:nth-child(6) {
  margin-bottom: 4px;
}

.price-list__button {
  position: absolute;
  display: flex;
  bottom: 16px;
  right: 16px;
  background-color: $color-brand;
  border: none;
  border-radius: 16px;
  width: 119px;
  height: 32px;
  gap: 8px;
  align-items: center;

  @media screen and (min-width: $screen-md) {
    position: static;
  }
}

.price-list__button-text {
  color: $color-base-secondary;
  font-size: $font-size-xs;
  font-weight: 600;
  margin-left: 12px;
}

.price-list__button-image {
  width: 24px;
  height: 24px;
  background-image: url('../img/goside.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.price-list__content-price {
  @media screen and (min-width: $screen-md) {
    width: 74px;
  }
}

.price-list__content-time {
  @media screen and (min-width: $screen-md) {
    width: 81px;
  }
}

.price-list__content-service {
  @media screen and (min-width: $screen-md) {
    flex-grow: 1;
  }

  @media screen and (min-width: $screen-lg) {
  }
}

.price-list__button:hover {
  opacity: 0.5;
  transition-duration: 0.4s;
}
