@import 'price-list';

.price-section__heading {
  font-size: $font-size-md;
  font-weight: 400;
  color: $color-text-secondary;
  background-image: linear-gradient(
    to right,
    $color-base,
    $color-base-secondary
  );
  margin: 0;
  padding: 16px;
  height: 56px;
  box-sizing: border-box;
}
