.show-more-element {
  display: none;
  cursor: pointer;

  @media screen and (min-width: $screen-md) {
      display: flex;
      gap: 16px;
      align-items: center;
      border: none;
      background: none;
      font-family: inherit;
      font-weight: 500;
      font-size: 16px;
      color: $color-text;
      position: relative;
      left: 32px;
    }
  }

.show-more-element__button {
  width: 8px;
  height: 11px;
  background-image: url(../img/icon-expand.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.show-more-element__button--close {
  background-image: url(../img/icon-close.png);
}

.show-more-element__button--expand {
  background-image: url(../img/icon-expand.png);
}

.show-more-element:hover {
  .show-more-element__button {
    animation: moveIcon 0.5s infinite alternate;
    animation-timing-function: ease-in-out;
  }

  .show-more-element__text {
    opacity: 0.7;
    transition-duration: 0.4s;
  }
}

@keyframes moveIcon {
  0% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(2px);
  }
}

