@import 'variables';
@import 'fonts';

@import 'header';
@import 'main';

body {
  font-family: $font-stack;
  background-color: $color-base;

  @media screen and (min-width: 1366px) {
    padding-top: 42px;
    padding-right: 22px;
  }
}
