@import 'normalize.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@import 'variables';
@import 'fonts';

@import 'header';
@import 'main';
@import 'aboutus';
@import 'brands-slider';
@import 'devices-slider';
@import 'price-section';
@import 'footer';
@import 'side-menu';
@import 'page';
@import 'modal-feedback';
@import 'modal-call';
@import 'overlay';

body {
  display: flex;
  margin: 0;
  font-family: $font-stack;
  background-color: $color-base;
}

