@import 'normalize.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@import 'variables';
@import 'fonts';

@import 'header';
@import 'aboutus';
@import 'brands-slider';
@import 'devices-slider';
@import 'price-section';

body {
  font-family: $font-stack;
  background-color: $color-base;

  @media screen and (min-width: 1366px) {
    padding-top: 42px;
    padding-right: 22px;
  }
}
