.swiper-pagination {
  position: initial;
  --swiper-pagination-bottom: -32px;

  @media screen and (min-width: $screen-md) {
    display: none;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: $color-slider-bullet;
}

.swiper-pagination-bullet-active {
  background: $color-slider-bullet--active;
}
