.swiper-pagination {
  --swiper-pagination-bottom: -32px;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: #DDDDDD !important;
}

.swiper-pagination-bullet-active {
  background: #B5B6BC !important;
}
